In [11]:
import glob
import pandas as pd

In [13]:
subfolder = "Household income"
# Decapitalize and replace spaces with underscores
name = subfolder.lower().replace(" ", "_")

path = "/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/data/*.csv"
filenames = glob.glob(path)
print(f"Type of filenames: {type(filenames)}")
print(f"Number of files: {len(filenames)}")
print(f"First 3 files: {filenames[:3]}")

Type of filenames: <class 'list'>
Number of files: 107
First 3 files: ['/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/data/household_income_20201031_MS_rev.csv', '/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/data/household_income_20160430_MS_rev.csv', '/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/data/household_income_20220831_MS_rev.csv']

In [15]:
df1 = pd.DataFrame()


# List of districts you are interested in
districts = ["Davanagere", "Bellary", "Chitradurga", "Gadag", "Haveri"]
occupation = ["Agricultural Labourers", "Organised Farmers", "Small/Marginal Farmers"]

for filename in filenames:
    temp_df = pd.read_csv(filename)
    temp_df1 = temp_df[(temp_df["STATE"] == "Karnataka") & (temp_df["DISTRICT"].isin(districts)) & (temp_df["REGION_TYPE"] == "RURAL") & (temp_df["OCCUPATION_GROUP"].isin(occupation))].copy()
    temp_df1["date_collected"] = filename.split("_")[2]
    df1 = pd.concat([df1, temp_df1])

In [20]:

df1.head()

,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,MONTH,RESPONSE_STATUS,...,INCOME_OF_HOUSEHOLD_FROM_RENT,INCOME_OF_HOUSEHOLD_FROM_SELF_PRODUCTION,INCOME_OF_HOUSEHOLD_FROM_PRIVATE_TRANSFERS,INCOME_OF_HOUSEHOLD_FROM_GOVERNMENT_TRANSFERS,INCOME_OF_HOUSEHOLD_FROM_BUSINESS_PROFIT,INCOME_OF_HOUSEHOLD_FROM_SALE_OF_ASSET,INCOME_OF_HOUSEHOLD_FROM_GAMBLING,date_collected,INCOME_OF_HOUSEHOLD_FROM_IN_KIND_TRANSFERS_FROM_GOVERNMENT,INCOME_OF_HOUSEHOLD_FROM_IN_KIND_TRANSFERS_FROM_NGO
95278,94762800,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jan 2021,Oct 2020,Accepted,...,0,0,0,0.0,18000,0.0,0.0,income,NaN,NaN
95286,60248833,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jan 2021,Oct 2020,Accepted,...,0,395,0,0.0,0,0.0,0.0,income,NaN,NaN
95287,53631934,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jan 2021,Oct 2020,Accepted,...,0,0,0,0.0,22000,0.0,0.0,income,NaN,NaN
95288,62962649,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jan 2021,Oct 2020,Accepted,...,0,0,0,0.0,20000,0.0,0.0,income,NaN,NaN
95294,15094346,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9715,Jan 2021,Oct 2020,Accepted,...,0,0,0,0.0,25000,0.0,0.0,income,NaN,NaN

In [25]:
# Save the DataFrames as pickle
df1.to_pickle("/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/pickles/household_income_karnataka.pickle")

**Adding consumption data**

In [26]:
subfolder = "Consumption Pyramid"
# Decapitalize and replace spaces with underscores
name = subfolder.lower().replace(" ", "_")

path = "venv/consumption_data/*.csv"
filenames = glob.glob(path)
print(f"Type of filenames: {type(filenames)}")
print(f"Number of files: {len(filenames)}")
print(f"First 3 files: {filenames[:3]}")

Type of filenames: <class 'list'>
Number of files: 108
First 3 files: ['venv/consumption_data/consumption_pyramids_20170430_MS_rev.csv', 'venv/consumption_data/consumption_pyramids_20211031_MS_rev.csv', 'venv/consumption_data/consumption_pyramids_20150930_MS_rev.csv']

In [27]:
df2 = pd.DataFrame()


# List of districts you are interested in
districts = ["Davanagere", "Bellary", "Chitradurga", "Gadag", "Haveri"]
occupation = ["Agricultural Labourers", "Organised Farmers", "Small/Marginal Farmers"]

for filename in filenames:
    temp_df = pd.read_csv(filename)
    temp_df2 = temp_df[(temp_df["STATE"] == "Karnataka") & (temp_df["DISTRICT"].isin(districts)) & (temp_df["REGION_TYPE"] == "RURAL") & (temp_df["OCCUPATION_GROUP"].isin(occupation))].copy()
    temp_df2["date_collected"] = filename.split("_")[2]
    df2 = pd.concat([df2, temp_df2])

In [28]:
df2.head()

,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,MONTH,RESPONSE_STATUS,...,MONTHLY_EXPENSE_ON_HEALTH_SERVICES,MONTHLY_EXPENSE_ON_HEALTH_OTHERS,ADJ_MONTHLY_EXPENSE_ON_VEGETABLES_AND_FRUITS,MONTHLY_EXPENSE_ON_SPECTACLES_CONTACT_LENSES_AND_OTHER_MEDICAL_AIDS,MONTHLY_EXPENSE_ON_BATTERIES,MONTHLY_EXPENSE_ON_MEAT,ADJ_MONTHLY_EXPENSE_ON_MEAT,MONTHLY_EXPENSE_ON_FISH,ADJ_MONTHLY_EXPENSE_ON_FISH,MONTHLY_EXPENSE_ON_OTT
90585,94762800,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jun 2017,Apr 2017,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90586,64280047,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jun 2017,Apr 2017,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90587,79586257,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jun 2017,Apr 2017,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90588,73429517,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jun 2017,Apr 2017,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90593,60248833,Karnataka,HR 59,Chitradurga,RURAL,HR 59_RURAL_R,PSU_ID_9714,Jun 2017,Apr 2017,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Save the DataFrames as pickle
df2.to_pickle("/Users/niteeshshanbog/Downloads/2023-05-26_07-37-30/pythonProject/venv/pickles/consumption_data_karnataka.pickle")