## Selecting household income data

In [1]:
import glob
import pandas as pd

In [2]:
path = "data/Household income/*.csv"
filenames = glob.glob(path)
print(f"Type of filenames: {type(filenames)}")
print(f"Number of files: {len(filenames)}")
print(f"First 3 files: {filenames[:3]}")

Type of filenames: <class 'list'>
Number of files: 107
First 3 files: ['data/Household income\\household_income_20140131_MS_rev.csv', 'data/Household income\\household_income_20140228_MS_rev.csv', 'data/Household income\\household_income_20140331_MS_rev.csv']

In [3]:
# Read files to a single dataframe. Only select STATE Karnataka and DISTRICT Davanagere. Add the date in the filename as column.
df = pd.DataFrame()
for filename in filenames:
    temp_df = pd.read_csv(filename)
    temp_df = temp_df[(temp_df["STATE"] == "Karnataka") & (temp_df["DISTRICT"] == "Davanagere")]
    temp_df["date_collected"] = filename.split("_")[2]
    df = pd.concat([df, temp_df])

In [4]:
df.head()

,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,MONTH,RESPONSE_STATUS,...,INCOME_OF_ALL_MEMBERS_FROM_PENSION,INCOME_OF_ALL_MEMBERS_FROM_DIVIDEND,INCOME_OF_ALL_MEMBERS_FROM_INTEREST,INCOME_OF_HOUSEHOLD_FROM_GOVERNMENT_TRANSFERS,INCOME_OF_HOUSEHOLD_FROM_SALE_OF_ASSET,INCOME_OF_HOUSEHOLD_FROM_GAMBLING,FAMILY_SHIFTED,INCOME_OF_ALL_MEMBERS_FROM_FD_PF_INSURANCE,INCOME_OF_HOUSEHOLD_FROM_IN_KIND_TRANSFERS_FROM_GOVERNMENT,INCOME_OF_HOUSEHOLD_FROM_IN_KIND_TRANSFERS_FROM_NGO
95941,17322257,Karnataka,HR 61,Davanagere,RURAL,HR 61_RURAL_R,PSU_ID_9810,Mar 2014,Jan 2014,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95942,13807056,Karnataka,HR 61,Davanagere,RURAL,HR 61_RURAL_R,PSU_ID_9810,Mar 2014,Jan 2014,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95943,48243447,Karnataka,HR 61,Davanagere,RURAL,HR 61_RURAL_R,PSU_ID_9810,Mar 2014,Jan 2014,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95944,42346033,Karnataka,HR 61,Davanagere,RURAL,HR 61_RURAL_R,PSU_ID_9810,Mar 2014,Jan 2014,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95945,39923120,Karnataka,HR 61,Davanagere,RURAL,HR 61_RURAL_R,PSU_ID_9810,Mar 2014,Jan 2014,Accepted,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Save the DataFrame as pickle
df.to_pickle("household_income_davanagere.pickle")

In [6]:
# Read files to a single dataframe. Only select STATE Karnataka and DISTRICT Davanagere. Add the date in the filename as column.
df2 = pd.DataFrame()
for filename in filenames:
    temp_df = pd.read_csv(filename)
    temp_df = temp_df[(temp_df["STATE"] == "Karnataka") & (temp_df["REGION_TYPE"] == "RURAL")]
    temp_df["date_collected"] = filename.split("_")[2]
    df2 = pd.concat([df2, temp_df])

In [7]:
# Save the DataFrame as pickle
df2.to_pickle("household_income_karnataka_rural.pickle")