In [1]:
import pandas as pd

In [2]:
farm_df_local = pd.read_csv('../Data/Farmland/ICRISAT-District Level Operational Holdings.csv')

# Drop all the Year rows that aren't 2010
farm_df_local = farm_df_local[farm_df_local['Year'] == 2010]

# Drop the Dist Code, Year, State Code, and State Name columns
farm_df_local = farm_df_local.drop(columns=['Dist Code', 'Year', 'State Code', 'State Name'])
# Drop the last two columns, which contain the totals
farm_df_local = farm_df_local.drop(columns=['TOTAL NUMBER (1000 Number)', 'TOTAL AREA (1000 ha)'])

# Set the Dist Name as the index
farm_df_local = farm_df_local.set_index('Dist Name')

# Print the column names
farm_df_local

,MARGINAL NUMBER (1000 Number),MARGINAL AREA (1000 ha),SMALL NUMBER (1000 Number),SMALL AREA (1000 ha),SEMI MEDIUM NUMBER (1000 Number),SEMI MEDIUM AREA (1000 ha),MEDIUM NUMBER (1000 Number),MEDIUM AREA (1000 ha),LARGE NUMBER (1000 Number),LARGE AREA (1000 ha)
Dist Name,,,,,,,,,,
Chitradurga,109.18,59.14,90.37,127.59,60.06,158.78,26.80,152.83,4.17,62.44
Bellary,105.05,58.68,82.81,118.36,56.56,153.17,26.76,152.63,3.97,54.68
Davanagere,135.25,69.32,84.52,117.14,45.91,121.68,15.54,85.64,1.46,19.90
Gadag,35.51,21.32,60.15,87.83,43.61,118.67,21.24,122.52,2.95,39.94
Haveri,78.00,42.78,80.35,114.39,43.91,117.02,14.54,81.39,1.56,21.35

In [3]:
# Create a multiindex series
farm_series_local = farm_df_local.stack()
farm_series_local

Dist Name
Chitradurga  MARGINAL NUMBER (1000 Number)       109.18
             MARGINAL AREA (1000 ha)              59.14
             SMALL NUMBER (1000 Number)           90.37
             SMALL AREA (1000 ha)                127.59
             SEMI MEDIUM NUMBER (1000 Number)     60.06
             SEMI MEDIUM AREA (1000 ha)          158.78
             MEDIUM NUMBER (1000 Number)          26.80
             MEDIUM AREA (1000 ha)               152.83
             LARGE NUMBER (1000 Number)            4.17
             LARGE AREA (1000 ha)                 62.44
Bellary      MARGINAL NUMBER (1000 Number)       105.05
             MARGINAL AREA (1000 ha)              58.68
             SMALL NUMBER (1000 Number)           82.81
             SMALL AREA (1000 ha)                118.36
             SEMI MEDIUM NUMBER (1000 Number)     56.56
             SEMI MEDIUM AREA (1000 ha)          153.17
             MEDIUM NUMBER (1000 Number)          26.76
             MEDIUM AREA (1000 ha)               152.63
             LARGE NUMBER (1000 Number)            3.97
             LARGE AREA (1000 ha)                 54.68
Davanagere   MARGINAL NUMBER (1000 Number)       135.25
             MARGINAL AREA (1000 ha)              69.32
             SMALL NUMBER (1000 Number)           84.52
             SMALL AREA (1000 ha)                117.14
             SEMI MEDIUM NUMBER (1000 Number)     45.91
             SEMI MEDIUM AREA (1000 ha)          121.68
             MEDIUM NUMBER (1000 Number)          15.54
             MEDIUM AREA (1000 ha)                85.64
             LARGE NUMBER (1000 Number)            1.46
             LARGE AREA (1000 ha)                 19.90
Gadag        MARGINAL NUMBER (1000 Number)        35.51
             MARGINAL AREA (1000 ha)              21.32
             SMALL NUMBER (1000 Number)           60.15
             SMALL AREA (1000 ha)                 87.83
             SEMI MEDIUM NUMBER (1000 Number)     43.61
             SEMI MEDIUM AREA (1000 ha)          118.67
             MEDIUM NUMBER (1000 Number)          21.24
             MEDIUM AREA (1000 ha)               122.52
             LARGE NUMBER (1000 Number)            2.95
             LARGE AREA (1000 ha)                 39.94
Haveri       MARGINAL NUMBER (1000 Number)        78.00
             MARGINAL AREA (1000 ha)              42.78
             SMALL NUMBER (1000 Number)           80.35
             SMALL AREA (1000 ha)                114.39
             SEMI MEDIUM NUMBER (1000 Number)     43.91
             SEMI MEDIUM AREA (1000 ha)          117.02
             MEDIUM NUMBER (1000 Number)          14.54
             MEDIUM AREA (1000 ha)                81.39
             LARGE NUMBER (1000 Number)            1.56
             LARGE AREA (1000 ha)                 21.35
dtype: float64

In [4]:
# Add every other value as a new column
column1 = farm_series_local[::2].reset_index()
# Remove the NUMBER (1000 Number) from the index name and capitalize it
column1.iloc[:, 1] = column1.iloc[:, 1].str.removesuffix(' NUMBER (1000 Number)').str.capitalize()
column1.set_index(column1.columns[:2].tolist(), inplace=True)
column1 = column1[column1.columns[0]] * 1000

column2 = farm_series_local[1::2].reset_index()
column2.iloc[:, 1] = column2.iloc[:, 1].str.removesuffix(' AREA (1000 ha)').str.capitalize()
column2.set_index(column2.columns[:2].tolist(), inplace=True)
column2 = column2[column2.columns[0]] * 1000

# Create a new dataframe
farm_df_local = pd.DataFrame({'Number': column1, 'Area': column2})
# Rename the level_1 index to 'Size Class'
farm_df_local.index.rename(['District', 'Size Class'], inplace=True)
farm_df_local

                           Number      Area
District    Size Class
Chitradurga Marginal     109180.0   59140.0
            Small         90370.0  127590.0
            Semi medium   60060.0  158780.0
            Medium        26800.0  152830.0
            Large          4170.0   62440.0
Bellary     Marginal     105050.0   58680.0
            Small         82810.0  118360.0
            Semi medium   56560.0  153170.0
            Medium        26760.0  152630.0
            Large          3970.0   54680.0
Davanagere  Marginal     135250.0   69320.0
            Small         84520.0  117140.0
            Semi medium   45910.0  121680.0
            Medium        15540.0   85640.0
            Large          1460.0   19900.0
Gadag       Marginal      35510.0   21320.0
            Small         60150.0   87830.0
            Semi medium   43610.0  118670.0
            Medium        21240.0  122520.0
            Large          2950.0   39940.0
Haveri      Marginal      78000.0   42780.0
            Small         80350.0  114390.0
            Semi medium   43910.0  117020.0
            Medium        14540.0   81390.0
            Large          1560.0   21350.0

In [5]:
# Area per farmer
farm_df_local['Area per farmer'] = farm_df_local['Area'] / farm_df_local['Number']
farm_df_local

                           Number      Area  Area per farmer
District    Size Class
Chitradurga Marginal     109180.0   59140.0         0.541674
            Small         90370.0  127590.0         1.411862
            Semi medium   60060.0  158780.0         2.643690
            Medium        26800.0  152830.0         5.702612
            Large          4170.0   62440.0        14.973621
Bellary     Marginal     105050.0   58680.0         0.558591
            Small         82810.0  118360.0         1.429296
            Semi medium   56560.0  153170.0         2.708098
            Medium        26760.0  152630.0         5.703662
            Large          3970.0   54680.0        13.773300
Davanagere  Marginal     135250.0   69320.0         0.512532
            Small         84520.0  117140.0         1.385944
            Semi medium   45910.0  121680.0         2.650403
            Medium        15540.0   85640.0         5.510940
            Large          1460.0   19900.0        13.630137
Gadag       Marginal      35510.0   21320.0         0.600394
            Small         60150.0   87830.0         1.460183
            Semi medium   43610.0  118670.0         2.721165
            Medium        21240.0  122520.0         5.768362
            Large          2950.0   39940.0        13.538983
Haveri      Marginal      78000.0   42780.0         0.548462
            Small         80350.0  114390.0         1.423647
            Semi medium   43910.0  117020.0         2.664997
            Medium        14540.0   81390.0         5.597662
            Large          1560.0   21350.0        13.685897

In [6]:
# Save the dataframe to a pickle file
farm_df_local.to_pickle('../Data/Farmland/farmland_clean_per_district.pkl')

# Save the dataframe to a csv file
farm_df_local.to_csv('../Data/Farmland/farmland_clean_per_district.csv')