In [1]:
import pandas as pd

In [2]:
farm_df_local = pd.read_csv('../Data/Farmland/farmland.csv')

# Drop the year column
farm_df_local = farm_df_local.drop(columns=['Year'])

# Only keep the last row
farm_df_local = farm_df_local.iloc[[-1]]

# Print the column names
farm_df_local

,MARGINAL NUMBER (1000 Number),MARGINAL AREA (1000 ha),SMALL NUMBER (1000 Number),SMALL AREA (1000 ha),SEMI MEDIUM NUMBER (1000 Number),SEMI MEDIUM AREA (1000 ha),MEDIUM NUMBER (1000 Number),MEDIUM AREA (1000 ha),LARGE NUMBER (1000 Number),LARGE AREA (1000 ha),TOTAL NUMBER (1000 Number),TOTAL AREA (1000 ha)
4,462.99,251.24,398.2,565.31,250.05,669.32,104.88,595.01,14.11,198.31,1230.22,2279.19

In [3]:
# Convert to a series
farm_series_local = farm_df_local.squeeze()

# Print the series
farm_series_local

MARGINAL NUMBER (1000 Number)        462.99
MARGINAL AREA (1000 ha)              251.24
SMALL NUMBER (1000 Number)           398.20
SMALL AREA (1000 ha)                 565.31
SEMI MEDIUM NUMBER (1000 Number)     250.05
SEMI MEDIUM AREA (1000 ha)           669.32
MEDIUM NUMBER (1000 Number)          104.88
MEDIUM AREA (1000 ha)                595.01
LARGE NUMBER (1000 Number)            14.11
LARGE AREA (1000 ha)                 198.31
TOTAL NUMBER (1000 Number)          1230.22
TOTAL AREA (1000 ha)                2279.19
Name: 4, dtype: float64

In [4]:
# Add every other value as a new column
column1 = farm_series_local[::2]
# Remove the NUMBER (1000 Number) from the index name and capitalize it
column1.index = column1.index.str.removesuffix('NUMBER (1000 Number)').str.capitalize()
column1 = column1 * 1000

column2 = farm_series_local[1::2]
column2.index = column2.index.str.removesuffix('AREA (1000 ha)').str.capitalize()
column2 = column2 * 1000

# Create a new dataframe
farm_df_local = pd.DataFrame({'Number': column1, 'Area': column2})
farm_df_local

                 Number       Area
Marginal       462990.0   251240.0
Small          398200.0   565310.0
Semi medium    250050.0   669320.0
Medium         104880.0   595010.0
Large           14110.0   198310.0
Total         1230220.0  2279190.0

In [5]:
# Area per farmer
farm_df_local['Area per farmer'] = farm_df_local['Area'] / farm_df_local['Number']
farm_df_local

                 Number       Area  Area per farmer
Marginal       462990.0   251240.0         0.542647
Small          398200.0   565310.0         1.419663
Semi medium    250050.0   669320.0         2.676745
Medium         104880.0   595010.0         5.673246
Large           14110.0   198310.0        14.054571
Total         1230220.0  2279190.0         1.852669

In [6]:
# Save the dataframe to a csv file
farm_df_local.to_csv('../Data/Farmland/farmland_clean.csv')